# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ZW\spring_cloud_demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
